# -----------------------------------------
# Python cache
__pycache__/
*.pyc

# -----------------------------------------
# Virtual environment
venv/
env/

# -----------------------------------------
# AI model files
# Ignore large model types
backend/models/*.onnx
backend/models/*.pth
backend/models/*.bin

# Allow ONLY best.pt and yolov8n.pt
!backend/models/best.pt
!backend/models/yolov8n.pt

# -----------------------------------------
# Upload folders (should not go to GitHub)
backend/uploads/
uploads/

# -----------------------------------------
# Logs
*.log

# -----------------------------------------
# OS garbage
.DS_Store
Thumbs.db

# -----------------------------------------
# Node / frontend junk (if exists)
node_modules/
dist/
build/
