# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Ignore ALL model files…
backend/models/*
*.pt
*.onnx

# …But allow THIS one:
!backend/models/best.pt

# Upload folders (do not track)
backend/uploads/
uploads/

# Logs
*.log

# OS garbage
.DS_Store
Thumbs.db
