Flask==3.1.2
flask-cors==6.0.1
gunicorn==23.0.0

numpy==1.26.4
pandas==2.2.2
opencv-python-headless==4.8.1.78
pillow==10.2.0

ultralytics==8.0.0

# Supported versions for Railway (Python 3.10)
torch==2.0.0
torchvision==0.15.1
